/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.ajaxify-comment-row {
    float: left;
    width: 100%;
}
.ajaxify-comment-row h2 {
    font-size: 2vw;
    border-bottom: 1px solid;
    line-height: 2vw;
    display: block;
}
.ajaxify-comment-col-6 {
    width: 50%;
    float: left;
}
.ajaxify-content .col-full {
    width: 100%;
    margin: 0 0 20px;
}
.ajaxify-content .col-full .label label {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-right: 15px;
}

.ajaxify-content .col-full .label, .ajaxify-content .col-full .divInput {
    display: inline-block;
    vertical-align: top;
}
.ajaxify-content .col-full .label {
    max-width: 180px;
    width: 100%;
}
span.readonly {
    display: block;
    color: #aaa;
    font-size: 15px;
}
.ajaxify-content [type="submit"] {
    border: none;
    background: #65b8ff;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
    padding: 5px 10px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
	display: inline-block;
    vertical-align: middle;
}
.ajaxify-content [type="submit"]:hover {
    background: #2896f5;
}

span.example_screenshot {
    width: 100%;
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-bottom: 20px;
    line-height: 20px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: 5px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 0px;
  border: 4px solid #f00;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #f00 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.admin_comment_save{color: green; font-weight: 700;}